:root {
 --nav-bg: #444;
 --font-sm: 1rem;
 --font-smaller: 1.3rem;
 --font-normal: 1.5rem;
 --font-normal-big: 1.8rem;
 --font-big: 2.2rem;
 --font-super-big: 3.3rem;
}

html {
 overflow-x: hidden;
}

@keyframes scroll {
 0% {
  transform: translateX(0)
 }

 100% {
  /* mnożymy przez liczbę zdjęć */
  transform: translateX(-400px * 7)
 }
}

.img-bg {
 width: 38%;
 object-fit: cover;
}

.main-text {
 text-shadow: 3px 2px 4px rgba(66, 68, 90, .2);
 font-size: var(--font-super-big);
 margin-left: auto;
 margin-right: auto;

}

#map {
 height: 500px;
 width: 700px;
}

footer {
 background-color: white;
 font-size: var(--font-sm);
 text-align: right;
 padding: 40px 20px 0 0;
 height: 40px;
}

/* .px {
 position: fixed;
 top: 100px;
 left: 39vw;
 font-size: 3rem;
 z-index: 100000;
} */